<header role="banner has-bottom-padding">
    <div class="has-top-padding has-bottom-padding">
        <div class="tile is-2 is-vertical has-bottom-padding">
            <a href="{{@blog.url}}">
            <p class="title">
                {{#if @blog.logo}}
                    <img class="image" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
                <span class="subtitle is-small is-7">{{@blog.description}}</span>
            </p>
            </a>
            <br>
        </div>
        {{#has tag="dna"}}
            {{> "site-nav-dna"}}
        {{/has}}

        {{#has tag="study"}}
            {{> "site-nav-study"}}
        {{/has}}

        {{#has tag="startup"}}
            {{> "site-nav-startup"}}
        {{/has}}

        {{^has tag="dna,study,startup"}}
            {{> "site-nav"}}
        {{/has}}
    </div>
</header>